@model IEnumerable<Dues>;
@{
  ViewData["Title"] = "Dues";
}

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: rgb(248, 235, 248);">
  <div>
    <script>
      var message = '@TempData["Dues1"]';
      if (message != '') {
        alert(message);
        message = '';
      }
    </script>
    <p><a class="btn btn-color" href="/Home/Details">Back</a>
    <h2 style="color:rgba(129, 10, 109, 0.863) ;text-align:center;">Upcoming Dues</h2>
    </p>
  </div>
  <br>
  <table class="table-design" width=100% style="text-align: center;" id='myTable'>
    <thead class="thead-dark">
      <tr height=40px>
        <th scope="col" width=200px>Employee Id</th>
        <th scope="col" width=200px>Name</th>
        <th scope="col" width=150px>Policy Name</th>
        <th scope="col" width=150px>Policy Date</th>
        <th scope="col" width=150px>Premium Amount</th>
        <th scope="col" width=250px>Due Duration</th>
        <th scope="col" width=150px>Status</th>

    </thead>
    @{
      foreach (var item in Model)
      {

        <tbody class="tbody-light">
          @{
            if (Convert.ToString(@item.Status) == "UnPaid")
            {
              <tr height=50px>
                <td>@item.EmployeeId</td>
                <td>@item.Name</td>
                <td>@item.PolicyName</td>
                <td>@item.PolicyDate</td>
                <td>@item.PremiumAmount</td>
                <td>@item.DueDateFrom to @item.DueDateTo</td>
                <td>@item.Status</td>
              </tr>
            }
          }
        </tbody>
      }
    }
  </table>
  <style>
    .thead-dark {
      background-color: rgba(129, 10, 109, 0.8);
      color: white;
    }

    .tbody-light {
      text-align: center;
      color: white;
      background-color: rgba(129, 10, 109, 0.3);
    }

    tr:hover {
      opacity: 0.5;
    }

    a:link {
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: red;
    }

    .btn-color {
      color: white;
      background-color: purple;
    }

    .searchitem {
      border-color: purple;
      background-color: rgb(238, 238, 233);
      border-radius: 5px;
      ;
    }
  </style>

</body>

</html>
