@using System.Data;
@model DataSet;
@{
  ViewData["Title"] = "Requests";
}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    background-color: rgb(245, 245, 241);
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 2px 16px;
  }

  .btn-color {
    color: white;
    background-color: purple;
  }
</style>

<body style="background-color: rgb(248, 235, 248);">
  <a class="btn btn-color" href="/Home/Details" role="button"> Back</a>
  <h2 style="color:rgba(129, 10, 109, 0.863);">UnRead Requests</h2>
  @foreach (DataRow row in Model.Tables[0].Rows)
  {
    if (@row["Reply"] == "")
    {
      <div style="width: 100%;">
        <br>
        <div style="width: 50%;">
          <div class="card">
            <div class="container">
              <h4><b>@row["EmployeeId"]</b></h4>
              <p>@row["SentDate"] : @row["Request"]</p>
              <a class="btn btn-primary" asp-action="ReplyQueryWithId" asp-controller="Admin" asp-route-reply="@row["Reply"]"
                asp-route-id="@row["EmployeeId"]" asp-route-query="@row["Request"]" asp-route-user="@row["Username"]"
                asp-route-keyid="@row["id"]" role="button"> Reply</a>
            </div>
          </div>
        </div>
      </div>
    }
  }
  <br>
  <p>No more results found.</p>
  <hr>
  <h2 style="color:rgba(129, 10, 109, 0.863);">Read Requests</h2>
  @foreach (DataRow row in Model.Tables[0].Rows)
  {
    if (@row["Reply"] != "")
    {
      <div style="width: 100%;">
        <br>
        <div style="width: 50%;">
          <div class="card">
            <div class="container">
              <h4>@row["EmployeeId"]</h4>
              <p><b>Received on : </b>@row["SentDate"]<b> &nbsp;&nbsp; Query : </b> @row["Request"]</p>
              <p><b>Response Date : </b>@row["ReplyDate"] <b>Respose: </b> @row["Reply"]</p>
              <a class="btn btn-primary" asp-action="ReplyQueryWithId" asp-controller="Admin"
                asp-route-id="@row["EmployeeId"]" asp-route-query="@row["Request"]" asp-route-reply="@row["Reply"]"
                asp-route-user="@row["Username"]" asp-route-keyid="@row["id"]" role="button"> Edit Reply</a>
            </div>
          </div>
        </div>
      </div>
    }
  }
  <br>
  <p>No more results found.</p>
</body>

</html>
